Mihaylov.Common/WebConfigSettings/Models/CustomSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Copy file to C:\Program Files (x86)\Microsoft Visual Studio 12.0\Xml\Schemas and add it to web.config shemas-->
  <xs:element name="customSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="logger">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="environment">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="endpoints" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="IPAddress" type="xs:string" use="required" />
                  <xs:attribute name="port" type="xs:unsignedShort" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dbConnections" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="endpoint">
                      <xs:complexType>
                        <xs:attribute name="IPAddress" type="xs:string" use="required" />
                        <xs:attribute name="port" type="xs:unsignedShort" use="optional" />
                        <xs:attribute name="dbName" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="credential">
                      <xs:complexType>
                        <xs:attribute name="username" type="xs:string" use="required" />
                        <xs:attribute name="cipheredPassword" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dbConnectionTemplates" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="template" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>